    <div id="page">
        <div id="header">
            <ul id="nav">
                <li><a href="">section1</a></li>
                <li><a href="">section2</a></li>
                <li><a href="">section3</a></li>
                <li><a href="">section4</a></li>
            </ul>
        </div>
        <section class='hosts-switcher'>
          <section class='current-host' data-target='#' data-toggle='dropdown'>
            <img data-action="switch-host" src="https://cdn.lookastic.com/images/flags/32/ru.png" />
            Россия
            <i class='fa fa-caret-down'></i>
          </section>
          <ul class='dropdown-menu' role='menu'>
            <li class=''>
              <a href="https://lookastic.com"><img src="https://cdn.lookastic.com/images/flags/32/us.png" />
                US (English)
              </a></li>
            <li class=''>
              <a href="https://es.lookastic.com"><img src="https://cdn.lookastic.com/images/flags/32/us.png" />
                US (Español)
              </a></li>
            <li class=''>
              <a href="https://lookastic.es"><img src="https://cdn.lookastic.com/images/flags/32/es.png" />
                España
              </a></li>
            <li class=''>
              <a href="https://lookastic.it"><img src="https://cdn.lookastic.com/images/flags/32/it.png" />
                Italia
              </a></li>
            <li class='current'>
              <a href="https://lookastic.ru"><img src="https://cdn.lookastic.com/images/flags/32/ru.png" />
                Россия
              </a></li>
            <li class=''>
              <a href="https://lookastic.de"><img src="https://cdn.lookastic.com/images/flags/32/de.png" />
                Deutschland
              </a></li>
            <li class=''>
              <a href="https://lookastic.fr"><img src="https://cdn.lookastic.com/images/flags/32/fr.png" />
                France
              </a></li>
            <li class=''>
              <a href="https://lookastic.co.uk"><img src="https://cdn.lookastic.com/images/flags/32/gb.png" />
                UK
              </a></li>
            <li class=''>
              <a href="https://lookastic.mx"><img src="https://cdn.lookastic.com/images/flags/32/mx.png" />
                Mexico
              </a></li>
          </ul>
        <div id="foot"></div>
